@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* ******************************************* Intro ******************************************* */
.intro-container {
  background-color: var(--main-box-background);
  box-shadow: var(--main-box-shadow);
  /* background-image: radial-gradient(
    circle at top right,
    rgb(20, 20, 20),
    black
  ); */
  margin-top: 5vh;
  min-height: 90vh;
  min-width: 90vw;

  position: relative;
  display: flex;
  justify-content: space-between;
}
.intro-container .logo {
  position: absolute;
  top: -20px;
  right: 30px;
  z-index: 1;
}
.intro-container img {
  max-width: 250px;
  /* box-shadow: var(--main-box-shadow); */
}

/* ******************************************* Left Text ******************************************* */
.intro-container .left-part {
  flex: 2;
  font-size: 4rem;
  padding-left: 100px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.intro-container .left-part h1,
.intro-container .left-part h2 {
  font-family: 'Roboto', sans-serif;
}
.intro-container .left-part h1 {
  letter-spacing: 15px;
}

.intro-container .left-part small {
  font-family: 'Jura', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 5px;
}

/* ******************************************* Right Text ******************************************* */
.intro-container .right-part {
  flex: 1;
  font-family: 'Jura', sans-serif;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;

  transition: display 2s ease-in-out;
}
.right-part h1,
.right-part h2,
.right-part h3,
.right-part p {
  margin: 0;
}

.right-part .message {
  height: 200px;
  margin-top: 150px;
  position: relative;
}
.pitching-text,
.contacts-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 2s ease-in-out;
  z-index: 2;
}
.hide {
  transform: scale(0);
}

.contacts-text a {
  color: white;
}

/* ******************************************* Scroll For More Style ******************************************* */
.intro-container .scroll-sign {
  position: absolute;
  right: 50%;
  bottom: -35px;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ******************************************* Animation Classes ******************************************* */
.popup-element {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.popup-element.pop {
  opacity: 1;
}

.glowing-button {
  text-decoration: none;

  color: var(--main-blue);
  font-size: 1.2rem;
  text-align: center;

  border: 2px solid var(--main-blue);
  padding: 10px 40px;
  width: 50%;

  cursor: pointer;
  animation: glowing 3s ease-in-out infinite;
}
.glowing-button:active {
  transform: scale(0.95);
}
@keyframes glowing {
  0% {
    box-shadow: 0;
  }
  50% {
    box-shadow: 0 0 5px #2196f3, 0 0 20px #2196f3, 0 0 40px #2196f3;
  }
  100% {
    box-shadow: 0;
  }
}
